<!DOCTYPE html>
<html lang="ko">
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<title></title>
	<link rel="stylesheet" href="style.css">
	<script type="text/javascript" src="test.js"></script>
</head>
<body>
	<div id="gall">
		<div id="small"class="small_img">
			<ul>
				<li><a href="http://pds54.cafe.daum.net/image/7/cafe/2007/11/24/10/15/47477a6506351" title="겨울이미지">
				<img src="http://pds54.cafe.daum.net/image/7/cafe/2007/11/24/10/15/47477a6506351" alt="이미지 01"/></a></li>
				<li><a href="http://cfile21.uf.tistory.com/image/23192D36566B2D382C9F10" title="오로라이미지">
				<img src="http://cfile21.uf.tistory.com/image/23192D36566B2D382C9F10" alt="이미지 02"/></a></li>
				<li><a href="http://cfile5.uf.tistory.com/image/26193B36566B2D3B2D1E6E" title="노을이미지">
				<img src="http://cfile5.uf.tistory.com/image/26193B36566B2D3B2D1E6E" alt="이미지 03"/></a></li>
				<li><a href="https://upload.wikimedia.org/wikipedia/ko/thumb/3/34/%EA%B2%BD%EC%9D%BC_%EA%B3%A0%EB%93%B1%ED%95%99%EA%B5%90_%ED%92%8D%EA%B2%BD.jpg/800px-%EA%B2%BD%EC%9D%BC_%EA%B3%A0%EB%93%B1%ED%95%99%EA%B5%90_%ED%92%8D%EA%B2%BD.jpg" title="단풍">
				<img src="https://upload.wikimedia.org/wikipedia/ko/thumb/3/34/%EA%B2%BD%EC%9D%BC_%EA%B3%A0%EB%93%B1%ED%95%99%EA%B5%90_%ED%92%8D%EA%B2%BD.jpg/800px-%EA%B2%BD%EC%9D%BC_%EA%B3%A0%EB%93%B1%ED%95%99%EA%B5%90_%ED%92%8D%EA%B2%BD.jpg" alt="이미지 04"/></a></li>
				<li><a href="http://cfile2.uf.tistory.com/original/26176036566B2D3D2E6FD1" title="눈속의 집">
				<img src="http://cfile2.uf.tistory.com/original/26176036566B2D3D2E6FD1" alt="이미지 05"/></a></li>
			</ul>
		</div>
		<div  id="big"class="big_img">
			<img src="http://pds54.cafe.daum.net/image/7/cafe/2007/11/24/10/15/47477a6506351" alt="큰이미지"/>
		</div>
		<p id="detail">detail</p>
	</div>
	
</body>
</html>
